:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#159EEC;
    --border-color:#dbdbdb;
    --green:#27ae60;
    --dark-color:#219150;
    --red:#f33060;
    --light-color:#666;
    --header-height:120px;
    --navbar-height:34px;  
    --header-with-search-height:calc(var(--header-height)- var(--navbar-height));
    --border:.1rem solid rgba(0,0,0,.5);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --bridge-blue:#3054b7;
    --mau-backgroundheader:linear-gradient(0,#0DD297,#04D26F);
}

*{
    box-sizing:inherit;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
    margin:0; 
    padding:0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
section{
    padding: 5rem 12.5rem;
}

/* color */
.col-black{
    color: var(--black-color);
}
.col-bule{
    color: var(--bridge-blue);
}
.cl-white{
    color:var(--white-color);
}
.cl-green{
    color: #5dac46;
}
.col-red{
    background: var(--red) !important;
}

/* end */
@keyframes fadeIn{
    form{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
@keyframes growth{
    form{
        transform: scale(var(--growth-from));
    }to{
        transform: scale(var(--growth-to));
    }
}
.btn{
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: 34.5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background:var(--dark-color);
}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.1);
}
img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px!important;
}
.value-nul{
    display: none;
}
.pd-l{
    padding-left: 1rem;
}